* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {

}

body {

}

header {
    padding: 1rem;
     background-color: aliceblue;
}

nav {
    width:80% ;
    margin: 0 auto;
}

#logo-image {
    width: 200px;
}

.meal-card-container {
    width: 80%;
    margin: 1rem auto;
}

.meal-card {
    background-color: aqua;
    padding: 2rem 1rem;
}

.button-container {
    height: 80px;
}